# Environments
.env
.env.*
!.env.example

# Database
*.db
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.pytest_cache/
.coverage
htmlcov/

# IDEs and OS
.idea/
.vscode/
.DS_Store
Thumbs.db
